/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.unbind-button {
  background: #FF4742;
  border: 0.5px solid #000000;
  margin-top: 10px;
  padding: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
}

.unbind-button:hover,
.unbind-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.unbind-button:active {
  opacity: .5;
}